.ac-list-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
}
.ac-list-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.ac-list-title {
  font-size: 54px;
  text-align: center;
  font-weight: 600;
  line-height: 58px;
}
.ac-list-title span {
  color: var(--color-blue);
}
.ac-list-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.innerBox {
  padding: 10px;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: border-color 0.2s;
  border-radius: 8px;
}

.innerBox:hover {
  border-color: var(--color-blue);
  border-radius: 8px;
}

.note {
  color: rgb(236, 102, 102);
  font-size: 10px;
  font-weight: 400;
}

/* =========media querries========== */
@media screen and (max-width: 420px) {
  .ac-list-container img {
    width: 200px;
  }
  .ac-list-title {
    font-size: 36px;
    line-height: 40px;
  }
  .ac-list-form {
    max-width: 345px;
  }
  .innerBox {
    padding: 10px 4px 10px 4px;
  }
}
